body{
    margin:0;
}
header{
    color: #AA00CC;
    text-align: center;
    background-color:#ccc; padding: 10px; height:120px;
   
}

#logo {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 0;
    }
ul.nomber1 {
    margin: 0 0 0 auto;
   
    background-color: #AA00CC;
    list-style: none;
    text-decoration: none;
    color:black;
    width: 960px;
    
}
a.nomber2 {
    text-decoration: none;
    color:#ccc;
}
li.nomber3 {
    display: inline;
    padding: 30px;
}
footer{
    background-color: #ccc;
  
    height: 120px;

}
.fot{
    margin-top: 20px;
    text-align: left;
}
.ooo{
    padding: 20px;
}
